body{
    margin: 0;
    background-image: url(mbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
}
.main{
    padding:0px;;
    /* height: 1000px; */
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.signature{
    display: flex;
    background: url(img/btn.png);
    padding: 10px;
    max-width: 260px;
    width: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #c80913;
}
.signature:hover{
    border: 1px solid #000;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    flex-direction:column;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    box-sizing: border-box;
    padding: 20px 30px 0 30px;
    max-width: 960px;
    margin: 0 auto;
}
.page h1{
    color:red;
    font-size: 25px;
    text-align: center;
}
.page img{
    max-width: 800px;
    align-self: center;
    margin-bottom: 20px;
}
.page .redtxt{
    color:red;
    text-decoration: underline;
}
.item{
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.left{
    width: 100%;
    max-width: 425px;
    margin-top: 240px;
}

.center{
    width: 100%;
    max-width: 370px;
    justify-content: center;
}
.center .item{
    margin-top: 250px;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    right: -45px;
}
.right{
    width: 100%;
    max-width: 550px;
}
.right .item:nth-child(1){
    margin-left: 20px;
}
.right .item:nth-child(2){
    margin-left: 150px;
}
.right .item:nth-child(3){
    margin-left: 180px;
}
.right .item:nth-child(4){
    margin-left: 150px;
}
.right .item:nth-child(5){
    margin-left: 120px;
}
.right .item:nth-child(6){
    margin-left: 90px;
}
.red-title{
    display: inline-block;
    text-transform: uppercase;
    color: #CC291C;
    background: #fff;
    max-width: 400px;
    font-weight: bold;
    font-size: 19px;
    padding: 3px;
    font-family: 'Century Gothic';
    margin-bottom: 10px;
}
.lastname{
    font-weight: bold;
}
.purpule{
    color: #6D1740;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.main-note{
    padding: 10px;
    display: flex;
    position: relative;
    max-width: 800px;
    width: 100%;
    font-size: 35px;
}
.main-note .purpule{
    font-size: 35px;
}
.nota{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.main-note a{
    font-size: 35px;
    margin-left: 20px;
}
.idocs_btn{
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    margin-right: 0;
    padding-top: 15px;
}
.idocs_btn a{
    display: block;
    max-width: 280px;
    background: url(img/btn.png);
    padding: 10px;
    border-radius: 8px;
    border:1px solid #000;
    color:#fff; 
    font-weight: bold;
    max-height: 70px;
    text-decoration: none;
    margin-left: 2%;
    margin-bottom: 10px;
    text-align: center;
}
.idocs_btn a:hover{
    /*    background: #d64637;*/
}
.city-title{
    /*    background: none;*/
    font-size: 16px;
    text-align: center;
}
.city-table{
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}
.city-table tr td:nth-of-type(2){
    text-align: right;
}

.note{
    background: #F7D400;
    margin: 10px 0;
    font-size: 16px;
}
.phone{
    color:#000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 20px;
}
.logo img{
    width:480px;
}
.mail{
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 5px;
}
@media(max-width:1280px){
	.left{
       margin-left:15px;	}
       .right .item:nth-child(2){
           margin-left:110px;}
       }
       @media(max-width:1024px){
        .main{
            flex-flow: row wrap;
            justify-content: center;
        }
        .main{
            align-items: center;
            /* padding-left: 10px; */
            /* padding-right: 20px; */
        }
        .left{
            margin-top: 20px;
        }
        .center .item{
            margin-top: 20px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .logo{
            position: relative;
            left: 45%;
        }
        .right{
            max-width: 100%;
            flex-flow: row wrap;
            justify-content: space-around;
            padding-left: 15px;
            padding-right: 15px;
        }
        .right .item:nth-child(1){
            margin-left: 0px;
        }
        .right .item:nth-child(2){
            margin-left: 0px;
        }
        .right .item:nth-child(3){
            margin-left: 0px;
        }
        .right .item:nth-child(4){
            margin-left: 0px;
        }
        .right .item:nth-child(5){
            margin-left: 0px;
        }
        .right .item:nth-child(6){
            margin-left: 0px;
        }
    }
    .mobile{
        display: none;
    }
    .text{
        font-size: 20px;
    }
    .city-table{
        font-size: 21px;
    }
    .press-cont{
        display: flex;
        flex-direction:column;
    }
    .press-cont .box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .sites_cont{
        display: flex;
        flex-direction:column;
    }
    .sites_box{
        display: flex;
        flex-direction: column;
        /*        justify-content: space-between;*/
        /*        flex-wrap: wrap;*/
        /*        max-width: 1020px;*/
        /*        margin: 0 auto;*/
        margin-bottom: 10px;
        padding: 0 20px;
    }
    .sites_box .row{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       width: 100%;
   }
   .sites_box a{
    /*    font-weight: bold;*/
    color:#006c8c;
}
.sites_box a:hover{
    color: #8c001a;
}
.phone__text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone_left{
    display: flex;
    align-items:center;
    margin-right: 5px;
}
.sites_box a.phone{
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
}
.sites_box img{
    max-width: 150px;
} 
.sites_box .item{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
    width: 100%;
    /*        max-width: 330px;*/
    box-sizing: border-box;
    padding: 15px;
    background: rgb(255 255 255 / 51%);
    border-radius: 4px;
    border:1px solid #000;
    margin:10px;
}
.item_card{
 display: flex;
 flex-direction:column;
 align-items: center;
 justify-content: space-around;
 text-align: center;
 background: #fff;
 width: 100%;
 /*   max-width: 320px;*/
 height: 100%;
 padding: 15px;
 border: 1px solid #b3acac;
 border-radius: 8px;
 box-sizing: border-box;
 box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.item_card:hover{
   box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.item_card .text{
    margin-bottom: 10px;
}
.item_card .title{
    line-height: 32px;
    font-weight: bold;
    font-size: 23px;
}

@media(max-width:960px){
    body{
        background-size: 1000px;
    }
    .main-note .purpule,.main-note a{
        font-size: 25px;
    }

    .logo{
        left: 0;
        margin-top: 100px;
        order: -1;

    }
}
@media(min-width:481px){
    .left{
        max-width: 420px;

    }
    .logo{
        left: 25%;
    }
    .purpule{
        font-size: 20px;
    }
    .item{
        font-size: 20px;
    }
}
@media(max-width:480px){
    body{
        background-image: url('bgph.jpg');
        background-size: 100%;
    }
    .header{
        flex-direction: column;
    }
    .main{
        align-items: center;
        padding-left: 0px;
        /* padding-right: 20px; */
    }
    .main-note .purpule{
        font-size: 12px;
        margin-bottom: 0;
    }
    .main-note a{
        font-size: 12px;
    }
    .center .item{
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .city-table .phone{
        font-size: 16px;
    }
    .city-table{
        font-size: 16px;
    }

    .left{
        margin: 20px;
        margin-top: 10px;
    }
    .logo{
        left: 0%;
        order: -1;
        margin-top: 10px;
    }
    .logo img{
        max-width: 350px;
        width: 100%;
    }
    .center{
        max-width: 320px;
    }
    .center .item{
        left: 0;
    }
    .right{
        margin-top: 0px;
        order: -1;
        justify-content: flex-start;
    }
    .phone{
        font-size:16px;
    }
    .mobile{
        margin-top: 50px;
        display: block;
    }
    .desctop{
        display: none;
    }
    .text{
       font-size:16px;
   }
   .sites_box{padding: 0px;}
   .idocs_btn a {
    font-size: 15px;
    margin:0 auto;
    margin-bottom: 10px;
}
}

@media(max-width:320px){
    .center{
        max-width: 270px;
    }
    .phone-ico{display: none;}
    .idocs_btn a {
        font-size: 17px;
        margin-left: 0;
        margin: 0 auto;
        margin-top: 10px;
    }

}